@font-face {
    font-family: Pinkerston;
    src: url('../fonts/Pinkerston.ttf')
}

@font-face {
    font-family: Routhers;
    src: url('../fonts/Routhers\ DEMO.ttf')
}

@font-face {
    font-family: Excalibur;
    src: url('../fonts/Excalibur\ Nouveau.ttf')
}

@font-face {
    font-family: Burma;
    src: url('../fonts/Burma-Regular.ttf')
}

@font-face {
    font-family: Burma-Soft;
    src: url('../fonts/BurmaSoft-Regular.ttf')
}

html {
    margin: 0;
    background-color: #F7FFF7;
}

body {
    min-width: 1200px;
    margin: 0;
}