.browsebittersweet {
    height: 10px;
    width: 100%;
    background-color: #FF6B6B;
}

.browsenaplesyellow {
    height: 10px;
    width: 100%;
    background-color: #FFE66D;
}

.pet-box {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
}

.pet-name {
    font-family: Burma-Soft;
    font-size: 18pt;
    color: #1A535C;
}

.pet-profile-picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: solid 5px #1A535C;
    border-radius: 10px;
}



