.create-pet-page {
    position: relative;
    height: 100%;
    border-top: solid 10px #FF6B6B;
    padding-bottom: 1%;
}

.cppnaplesyellow {
    border-top: solid 10px #FFE66D;
}

.cppbox {
    height: 100%;
}

.petcreatebanner {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-bottom: solid 5px #1A535C;
}

.upload-image-frame {
    margin-top: 3.5%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
    border: solid 3px #FFE66D;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.petprofilepicupload {
    float: left;
    width: 250px;
    object-fit: cover;
}

.uploadpetpicturemenu {
    position: absolute;
    margin-top: 25%;
    margin-left: 2.5%;
    padding: 5px;
    font-family: Burma-Soft;
    font-size: 14pt;
    color: #F7FFF7;
    background-color: #1A535C;
    border-radius: 5px;
}

.petprofilepicsubmit {
    margin-left: 2.5%;
    margin-top: 1%;
    color: transparent;
}

.petprofilepicsubmit::-webkit-file-upload-button {
    visibility: hidden;
}

.petprofilepicsubmit::before {
    content: 'Update Pet Picture';
    font-family: Burma-Soft;
    font-size: 14pt;
    padding: 10px;
    color: black;
    background-color: #FF6B6B;
    border: none;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
}
.petprofilepicsubmit::file-selector-button {
    font-family: Burma-Soft;
    font-size: 10pt;
    background-color: #FF6B6B;
    border: none;
    border-radius: 5px;
}

.petpicpreview {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
    position: absolute;
    width: 40%;
}

.petnamediv {
    position: absolute;
    margin-left: 25.3%;
    margin-top: -350px;
}

.petnameheader {
    margin-bottom: 1%;
    font-family: Burma;
    font-size: 18pt;
    color: #1A535C;
}

.petnameupload {
    margin-top: 2%;
    width: 375px;
    height: 27pt;
    padding: 5px;
    font-family: Burma-Soft;
    font-size: 25pt;
    border: solid 2px #FF6B6B;
    border-radius: 10px;
    background-color: #F7FFF7;
}

.typechoicediv {
    position: absolute;
    margin-left: 60%;
    margin-top: -350px;
    margin-right: 2%;
}

.typeheader {
    margin-bottom: 5%;
    font-family: Burma;
    font-size: 18pt;
    color: #1A535C;
}

.typedropdown {
    margin-top: 1%;
    height: 39pt;
    width: 125pt;
    padding-left: 10px;
    font-family: Burma-Soft;
    font-size: 25pt;
    background-color: #F7FFF7;
    border: solid 2px #FF6B6B;
    border-radius: 10px;
}

.typedropdown option {
    font-family: Burma-Soft;
    font-size: 15pt;
}

.petdescdiv {
    position: absolute;
    margin-left: 25.3%;
    margin-top: -225px;
    width: 70%;
}

.petdescheader {
    margin-bottom: 1%;
    font-family: Burma;
    font-size: 18pt;
    color: #1A535C;
}

.petdesc {
    height: 50pt;
    width: 70%;
    font-family: Burma-Soft;
    font-size: 18pt;
    background-color: #F7FFF7;
    border: solid 2px #1A535C;
    border-radius: 10px;
}

.create-pet-button {
    float: right;
    margin-right: 5%;
    height: 39pt;
    font-family: Burma-Soft;
    font-size: 20pt;
    background-color: #FFE66D;
    border: none;
    border-radius: 10px;
}