a {
    text-decoration: none;
}

.header {
    height: 70px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #F7FFF7;
    border-bottom: solid 10px #1A535C;
}

.logo {
    float: left;
    margin-left: 1%;
    margin-right: 3%;
    font-family: Excalibur;
    font-size: 47pt;
    color: #1A535C;
}

.browse, .about-us {
    float: left;
    margin-right: 3%;
    margin-top: 18px;
    font-family: Burma-Soft;
    font-size: 25pt;
    color: #1A535C;
}

.search {
    float: left;
    margin-top: 20px;
    width: 40%;
    border: solid 2px #1A535C;
    border-radius: 12px;
    padding: 5px;
    font-family: Burma;
    font-size: 16pt;
    background-color: #F7FFF7;
}

.button1 {
    float: left;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: -40px;
    background-color: #F7FFF7;
    border: none;
}

.glass {
    display: inline;
    height: 20px;
    width: 20px;
}

.login {
    float: right;
    margin-top: 18px;
    margin-right: 5%;
    font-family: Burma-Soft;
    font-size: 25pt;
    color: #1A535C;
}

.header-user-info {
    float: right;
    margin-right: 5%;
}

.header-picture {
    height: 60px;
    border-radius: 30px;
}

.logout-button {
    margin-left: 30px;
    font-family: Burma;
    font-size: 14pt;
    background-color: #FF6B6B;
    border: none;
    border-radius: 5px;
}

.logo:hover, .browse:hover, .login:hover, .signup:hover, .about-us:hover {
    color: #FF6B6B;
    text-shadow: 1px 1px 0 #1A535C;
    transition-duration: 1s;
}