.lp {
    position: relative;
    min-height: 245vh;
    padding-bottom: 0;
}

.landing-banner {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: 0 -95px;
}

.colors {
    margin-top: -70px;
}

.midnightgreen {
    height: 120px;
    width: 100%;
    background-color: #1A535C;
}

.bittersweet {
    height: 25px;
    width: 100%;
    background-color: #FF6B6B;
}

.naplesyellow {
    height: 25px;
    width: 100%;
    background-color: #FFE66D;
}

.flaunt {
    text-align: center;
    font-family: Excalibur;
    font-size: 6rem;
    letter-spacing: 5pt;
    color: #F7FFF7;
    text-shadow: 4px 4px 0px #4ECDC4;
    z-index: 1;
}

.intro {
    position: relative;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    font-family: Burma;
    font-size: 20pt;
}

h2 {
    font-family: Burma-Soft;
    color: #1A535C;
    font-size: 50pt;
    text-shadow: 1.5px 1.5px 0px #4ECDC4;
}

.lp1 {
    margin-top: 0px;
    width: 45%;
    text-align: justify;
}

.ben {
    float: right;
    margin-top: -300px;
    width: 375px;
    height: 375px;
    object-fit: cover;
    border: solid 15px #FF6B6B;
    transform: rotate(3deg);
}

.divider1 {
    margin-top: 5%;
    margin-left: -13%;
    width: 90%;
}

.midnightgreendiv1 {
    height: 10px;
    width: 100%;
    background-color: #1A535C;
}

.bittersweetdiv1 {
    height: 10px;
    width: 100%;
    background-color: #FF6B6B;
}

.naplesyellowdiv1 {
    height: 10px;
    width: 100%;
    background-color: #FFE66D;
}

.follow {
    text-align: right;
    margin-top: 10%;
    margin-left: 40%;
    width: 55%;
}

.lp2 {
    text-align: right;
    margin-left: 55%;
    width: 40%;
    text-align: justify;
}

.vinewood {
    float: left;
    margin-top: -300px;
    width: 375px;
    height: 375px;
    object-fit: cover;
    object-position: 0 -55px;
    border: solid 15px #FF6B6B;
    transform: rotate(-3deg);
}

.divider2 {
    margin-left: 100px;
    margin-top: 5%;
    width: 100%;
}

.midnightgreendiv2 {
    height: 10px;
    width: 100%;
    background-color: #1A535C;
}

.bittersweetdiv2 {
    height: 10px;
    width: 100%;
    background-color: #FF6B6B;
}

.naplesyellowdiv2 {
    height: 10px;
    width: 100%;
    background-color: #FFE66D;
}

.monetize {
    margin-top: 10%;
    width: 55%;
}

.lp3 {
    margin-top: 0px;
    width: 45%;
    text-align: justify;
}

.wallace {
    float: right;
    margin-top: -295px;
    width: 375px;
    height: 375px;
    object-fit: cover;
    object-position: 0px -70px;
    border: solid 15px #FF6B6B;
    transform: rotate(3deg);
}

.divider3 {
    margin-top: 5%;
    margin-left: -13%;
    width: 90%;
}

.midnightgreendiv3 {
    height: 10px;
    width: 100%;
    background-color: #1A535C;
}

.bittersweetdiv3 {
    height: 10px;
    width: 100%;
    background-color: #FF6B6B;
}

.naplesyellowdiv3 {
    height: 10px;
    width: 100%;
    background-color: #FFE66D;
}