.bittersweetud {
    height: 10px;
    width: 100%;
    background-color: #FF6B6B;
}

.naplesyellowud {
    height: 10px;
    width: 100%;
    background-color: #FFE66D;
}

.petdashinfo {
    position: absolute;
    width: 30%;
    height: 300%;
    padding-left: 2%;
    text-align: center;
}

.petdashname {
    width: 300px;
    word-wrap: break-word;
    font-family: Excalibur;
    font-size: 30pt;
    color: #FF6B6B;
    text-shadow: 2px 2px 0px #FFE66D;
}

.petdashpic {
    height: 300px;
    width: 300px;
    border: solid 5px #1A535C;
    border-radius: 10px;
    object-fit: cover;
}

.petdashdescription, .petdashfollowers {
    width: 300px;
    word-wrap: break-word;
    font-family: Burma-Soft;
    font-size: 15pt;
    color: #1A535C;
}

.create-post-page {
    width: 65%;
    position: absolute;
    margin-left: 400px;
    margin-top: 0;
    text-align: center;
}

.create-post-header {
    font-size: 23pt;
}

.post-media, .post-text {
    font-size: 18pt;
}

.post-media-submit {
    color: transparent;
    margin-bottom: 5%;
}

.post-media-submit::-webkit-file-upload-button {
    visibility: hidden;
}

.post-media-submit::before {
    margin-left: 25%;
    content: 'Add New Media';
    font-family: Burma-Soft;
    font-size: 14pt;
    padding: 10px;
    color: black;
    background-color: #FF6B6B;
    border: none;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
}
.post-media-submit::file-selector-button {
    font-family: Burma-Soft;
    font-size: 10pt;
    background-color: #FF6B6B;
    border: none;
    border-radius: 5px;
}

.post-preview-image {
    width: 40%;
}

.post-text-input {
    width: 40%;
    font-family: Burma-Soft;
    font-size: 18pt;
    background-color: #F7FFF7;
    border: solid 2px #1A535C;
    border-radius: 10px;
}

.create-post-button {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 20%;
    font-family: Burma;
    font-size: 20pt;
    background-color: #FF6B6B;
    border: none;
    border-radius: 10px;
}

.details-link {
    font-family: Burma-Soft;
    font-size: 20pt;
    padding: 5px;
    color: black;
    background-color: #FF6B6B;
}