.petsdisplay {
    position: relative;
    height: 100%;
    width: 250px;
    margin-left: 1%;
    text-align: center;
}

.petsheader {
    margin-bottom: 2%;
    font-family: Excalibur;
    font-size: 20pt;
    color: #FF6B6B;
}

.petlist {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.add-pet-button {
    width: 75px;
    height: 75px;
    font-family: Burma;
    font-size: 14pt;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    color: #F7FFF7;
    background-color: #1A535C;
    border: none;
    border-radius: 75px;
}

.petownerthumbnail {
    margin: 7px;
}

.petthumbnailname {
    font-size: 12pt;
    margin: 0;
}

.petthumbnailimg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: solid 2px #FF6B6B;
    border-radius: 5px;
}