.upbittersweet {
    height: 10px;
    width: 100%;
    background-color: #FF6B6B;
}

.upnaplesyellow {
    height: 10px;
    width: 100%;
    background-color: #FFE66D;
}

.user-profile-info {
    position: absolute;
    text-align: center;
    width: 300px;
    margin-left: 2%;
}

.user-profile-userName {
    font-family: Excalibur;
    size: 25pt;
    color: #FF6B6B;
    text-shadow: 1px 1px 0px #FFE66D;
}

.user-profile-profilePicture {
    width: 250px;
    height: 250px;
    border: solid 2px #FFE66D;
}

.user-profile-pets-header {
    width: 70%;
    margin-left: 330px;
    font-family: Burma;
    font-size: 20pt;
    color: #1A535C;
    text-align: center;
}

.user-profile-pet-list {
    width: 70%;
    margin-left: 330px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user-profile-pets {
    margin-left: 3%;
}

.user-profile-petName {
    width: 150px;
    word-wrap: break-word;
    font-size: 16pt;
    color: #1A535C;
}

.user-profile-pet-picture {
    margin-top: 0;
    width: 150px;
    height: 150px;
    border: solid 5px #FF6B6B;
    border-radius: 5px;
}