.upbittersweet {
    height: 10px;
    width: 100%;
    background-color: #FF6B6B;
}

.upnaplesyellow {
    height: 10px;
    width: 100%;
    background-color: #FFE66D;
}

.user-profile {
    display: flex;
    flex-flow: column wrap;
}

.user-profile-info {
    text-align: center;
    width: 300px;
}

.user-profile-userName {
    font-family: Excalibur;
    size: 25pt;
    color: #FF6B6B;
    text-shadow: 1px 1px 0px #FFE66D;
}

.user-profile-profilePicture {
    width: 250px;
    height: 250px;
    border: solid 2px #FFE66D;
}